@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>RChat is a real time chat platform.</p>
    <p>Create and join rooms. Chat with your friends.</p>
</div>
